* {
    margin: 0;
    padding: 0;
}

pre {
    color: rgb(184, 133, 133);
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
}


/* 1index.html */

.header {
    height: 80px;
    width: auto;
    /* background-color: #174a5c; */
    color: rgb(58, 56, 56);
}

.header_title {
    float: left;
    padding: 20px 40px;
}

.header_list {
    display: inline-block;
    padding: 20px 40px;
}

.header_list li>a {
    color: rgb(58, 56, 56);
}

.header_list_item {
    display: inline;
    padding-left: 20px;
}

.image_wrapper {
    position: relative;
}

.image_wrapper img {
    height: 750px;
    width: 100vw;
    filter: opacity(0.7);
}

.image_wrapper p {
    color: rgb(244, 250, 244);
    font-size: 70px;
    font-weight: 900;
    left: 100px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 180px;
}

.main {
    padding: 0 50px;
}

.profile,
.skill,
.career {
    justify-content: center;
    margin: 50px auto;
    width: 70%;
}

.works {
    justify-content: center;
    margin: 50px auto;
    width: 90%;
}

.profile_title,
.skill_title,
.works_title,
.career_title {
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.profile_contents {
    padding-bottom: 50px;
    display: flex;
    font-family: arial;
    font-size: 20px;
    justify-content: center;
    height: 250px;
}

.profile_image {
    float: left;
    padding-right: 80px;
}

.profile_explain {
    padding: 0;
    white-space: pre-line;
    /* width: 80vw; */
}

.card {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    height: 90%;
}

.card-header {
    font-size: 22px;
    font-weight: 600;
}

.card-title {
    font-size: 18px;
    /* font-weight: bold; */
}

.card-body p {
    font-size: 13px;
}

.work_card img {
    margin: 5px auto;
    height: 120px;
    width: 70%;
}


/* 経歴 */

.timeline {
    list-style: none;
    padding: 0px;
}

.timeline>li {
    margin-bottom: 60px;
}


/* footer */

.footer {
    width: 100%;
    height: 80px;
    background-color: #6d6b6a;
    color: white;
    text-align: center;
}

ul.footer-menu {
    padding-top: 20px;
}

ul.footer-menu li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul.footer-menu li a {
    color: white;
}


/* for Desktop */

@media (min-width: 640px) {
    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #4f4f3c solid;
        padding-left: 30px;
    }
    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #d99d36;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }
}