/*
COLORS
================================================ */
:root {
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --dark-blue:rgb(30, 60, 99);
    --purple: #b473bf;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --grey: #333;
    --white: #fff;
}

/*
GENERAL STYLING
================================================ */
.font-color-white {
    color: #f1eaeb;
}

* {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    margin: 0;
    padding: 0;
}

i {
    padding: 10px;
    margin: 5px;
    background-color: darkgrey;
    color: white;
    font-size: 1.7rem;
    vertical-align: text-bottom;
}

img {
    object-fit: fill;
}

a {
    color: green;
    text-decoration: none;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
}

td {
    font-size: 1.1rem;
}

.containar {
    margin-top: 24px;
    padding: 0;
}

.menus {
    justify-content: center;
    margin: 50px auto;
    width: 90%;
}

.menus>p {
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.menus_card img {
    margin: 5px auto;
    height: 120px;
}

.menus_contents {
    /* padding-bottom: 50px; */
    margin: 0;
    display: flex;
    /* font-family: arial; */
    font-size: 20px;
    justify-content: center;
    /* height: 250px; */
}

.menus_image {
    float: left;
    padding-right: 80px;
    height: auto;
}

.menus_explain {
    display: inline-block;
    /* font-family: serif; */
    padding: 0;
    white-space: pre-line;
    /* width: 80vw; */
}

#carrer {
    background-image: linear-gradient(45deg, var(--dark-blue), var(--grey));
    padding: 2rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

/*
ヘッダー
================================================ */

/* .header {
    height: 80px;
    color: rgb(58, 56, 56);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}


.header_list {
    display: inline-block;
    padding: 20px 40px;
}

.header_list li>a {
    color: rgb(58, 56, 56);
}

.header_list_item {
    display: inline;
    padding-left: 20px;
} */

/*
HEADER
================================================ */
.github {
    display: flex
}

.github_icon {
    font-size: 30px;
    margin: 0 0 0 auto;
}

.github_icon>i {
    color: white;
    background-color: initial;
}

.github_label {
    padding-left: 10px;
}


#header_image {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.image_wrapper {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.image_wrapper p {
    color: rgb(26, 44, 71);
    font-size: 70px;
    font-weight: 900;
    left: 100px;
    margin: 0;
    position: absolute;
    padding: 1rem;
    top: 180px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.image_wrapper a {
    color: #FFF;
    width: 30px;
    left: 100px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 650px;
}

.card {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    height: 90%;
}

.card-header {
    font-size: 22px;
    font-weight: 600;
    color: whitesmoke;
}

.card-title {

    /* font-family: serif; */
    font-size: 18px;
    /* font-weight: bold; */
}

.card-body {
    font-size: 13px;
}

.card-body p {
    font-size: 1rem;
}

/*
PROFILE
================================================ */

/*
CAREER
================================================ */

.carrer {
    background-image: url('./image/blue.png')
}

.timeline {
    list-style: none;
    padding: 0px;
}

.timeline>li {
    margin-bottom: 60px;
}

.timeline-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    border-bottom-width: initial;
    border-bottom-style: groove;
    border-bottom-color: initial
}

.timeline-header h3 {
    /* float: left; */
    padding: 0;
    margin: 0;
}

.timeline-content span {
    font-size: 35px;
    padding: 0 10px;
    cursor: pointer;
}

.timeline-content p {
    display: none;
}

/*
footer
================================================ */

footer {
    background: #949087;
    text-align: center;
    padding: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer li {
    margin: 0 12px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #c7c3ba;
}

footer small {
    color: #c7c3ba;
    font-size: .875rem;
}

.tag {
    display: inline-block;
    padding: 0.5em 0.5em;
    margin: 3px;
    text-decoration: none;
    border-radius: 5px;
    /* font-weight: bold; */
    color: #FFF;
    background-image: linear-gradient(45deg, rgb(102, 109, 122) 0%, rgb(13, 13, 34) 100%);
    transition: .4s;
}

.tag-list {
    padding-left: 30px;
    padding-right: 30px;
}

.card-img-top {
    position: relative;
}

.sample-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: rgb(123, 123, 155);
    /*色*/
    border: solid 1px #75c4e9;
    /*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-sticky {
    display: inline-block;
    width: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;
    /*左線*/
    color: #ff7c5c;
    /*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.card-title2 {
    /* font-family: 'Noto Sans JP', sans-serif; */
    border-bottom: solid 3px #cce4ff;
    position: relative;
    margin-bottom: 15px;
}

.card-title2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
}

.transition-1s {
    transition: color .5s;
}

/* for Mobile */

@media (max-width: 600px) {

    .navbar-nav{
        text-align: center;
        font-size: 1.5rem;
    }

    .fa-github{
        display: block;
        text-align: center;
    }

    #image_fm {
        width: 50%;
    }

    .timeline-header h3 {
        font-size: 120%;
    }

    blockquote>p {
        font-size: 1rem;
    }
}

/* for Desktop */

@media (min-width: 600px) {

    .menus {
        justify-content: center;
        margin: 50px auto;
        width: 70%;
    }

    .menus img {
        width: auto;
    }

    #image_web {
        width: 120%;
    }
}

@media (min-width: 640px) {
    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        display: block;
        /* padding-top: 14px; */
        padding: 1.5rem 0 0 0;
        height: auto;
        width: 110px;
        float: left;
        margin: 0;
    }

    .timeline-content {
        width: 75%;
        float: left;
        padding-left: 30px;
        border-left: 3px #e5dece solid;
    }

    .timeline-content:before {
        content: '';
        width: 2.25rem;
        height: 2.25rem;
        background: white;
        text-align: center;
        padding: .1rem;
        position: absolute;
        top: 1rem;
        left: 5.8rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: gray;
        font-size: 1.25rem;
    }

    .icon-carrer1::before {
        content: '\f06d';
    }

    .icon-carrer2::before {
        content: '\f810';
    }

    .icon-carrer3::before {
        content: '\f1ad';
    }
}