pre {
    color: rgb(184, 133, 133);
}


/* 1index.html */

.header {
    height: 80px;
    width: auto;
}

.header_title {
    float: left;
    padding: 20px 40px;
}

.header_list {
    display: inline-block;
    padding: 20px 40px;
}

.header_list_item {
    display: inline;
    padding-left: 20px;
}

.image_wrapper {
    position: relative;
}

.image_wrapper img {
    height: 750px;
    width: 100vw;
}

.image_wrapper p {
    color: rgb(184, 113, 113);
    font-size: 70px;
    left: 100px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 200px;
}

.main {
    padding: 0 50px;
}

.profile_title,
.skill_title,
.works_title {
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.profile_contents {
    padding-bottom: 50px;
    display: flex;
    font-family: arial;
    font-size: 20px;
    justify-content: center;
}

.profile_image {
    float: left;
    padding-right: 80px;
}

.profile_explain {
    padding: 0;
    white-space: pre-line;
    /* width: 80vw; */
}

.skill, .works {
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

.skill_card,
.works_card{
    /* text-align: center; */
    margin: 0;
    margin-bottom: 30px;
}

.card-title{
    font-size: 15px;
}

.work_card img{
    margin: 5px auto;
    height: 120px;
}